
body {
	background-color : #FAB400;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0;
}

.button-bottom {
	display: inline-block;
	
	/* Text align */
	text-align: center;

	/* Share Text Style */
	font-family: HelveticaNeue-Light, Helvetica;
	font-size: 34px;
	color: #FFFFFF;
	line-height: 41px;
	letter-spacing: 2px;

	/* Share_background: */
	background-image: -o-linear-gradient(-89deg, #FA3F00 0%, #FA3F00 100%);
	background-image: -moz-linear-gradient(-89deg,#FA3F00 0%, #FA3F00 100%);
	background-image: -ms-linear-gradient(-89deg,#FA3F00 0%, #FA3F00 100%);
	background-image: linear-gradient(-179deg, #FA3F00 0%, #FA3F00 100%);
	border: 1px solid #979797;
}

.width100pc {
	width: 100%;
}

.width50pc {
	width: 50%;
}

.width75pc {
	width: 75%;
}

.width25pc {
	width: 25%;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}