
html, body {min-width: 100%; min-height: 100%;}
h1,h2,h3,h4,h5,h6 {text-decoration: none; font-size: 1em; font-weight: normal;}

html, body {
	margin: 0;
	background-color: #FA8C00;
	overflow: hidden;
	font-family: HelveticaNeue;
	padding-bottom: 40px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0;
}

.button-bottom {
	display: inline-block;
	
	/* Text align */
	text-align: center;

	/* Share Text Style */
	font-family: HelveticaNeue-Light, Helvetica;
	font-size: 1.5em;
	color: #FFFFFF;
	line-height: 40px;
	letter-spacing: 2px;

	/* Share_background: */
	background-image: -o-linear-gradient(-89deg, #FA3F00 0%, #FA3F00 100%);
	background-image: -moz-linear-gradient(-89deg,#FA3F00 0%, #FA3F00 100%);
	background-image: -ms-linear-gradient(-89deg,#FA3F00 0%, #FA3F00 100%);
	background-image: linear-gradient(-179deg, #FA3F00 0%, #FA3F00 100%);
	border: 1px solid #979797;
}

.inactive {
	display: none;
}

.question {
	color: #fff;
}

.date {
	font-family: HelveticaNeue;
	color: #512209;
	font-size: 0.8em;
	height: 40px;
	text-align: center;
}

.answer {
	font-family: HelveticaNeue;
	font-size: 1.2em;
	color: #512209;
}

.question {
	font-family: HelveticaNeue;
	font-size: 1.2em;
	color: #FFFFFF;
}