body {
}

header { 
	background-color: #FA8C00;
	height: 40px;
	border-bottom: 1px solid rgba(101,61,31,0.55);
	overflow: hidden;
    width: 100%;
}

header .nav-bar {
    position: absolute;
    left: 0;
}

header .heading {
	font-family: HelveticaNeue;
	font-size: 1.1em;
	color: #512209;
	line-height: 40px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	float: left;
}

header .app-icon {
	width: 20%;
    position: absolute;
    right: 0;
}


.menu {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
}

.app-icon .icon {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 33%;
}

.nav-bar-expanded ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.nav > li {
	background: rgba(86,48,28,0.96);
	border-bottom: 1px solid #979797;
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
}


.nav > li.item {
	padding: 15px 0 15px 0;
}

.nav > li > a {
	display: block;
	text-decoration: none;
	font-family: HelveticaNeue;
	font-size: 1em;
	color: #FFFFFF;
	margin-left: 60px;
}

.nav-bar-expanded {
	display: none;
	height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
	min-width: 150px;
	max-width: 200px;
}

.notification-bubble {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	background-image: url(../img/Oval_41.png);
	background-size: cover;
    background-repeat: no-repeat;
    font-size: 0.8em;
    text-align: center;
}

.content {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 20px;
}

.event-list ul {
	list-style-type:none;
	padding:0;
}

.generic-box, .generic-box-shadow {
	border-radius: 4px;
	/* Rectangle 16: */
	background: #FABC00;
	border: 1px solid #653D1F;
}

.generic-box-shadow {
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset 0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset 0px 1px 2px 0px rgba(0,0,0,0.50);
}

.info {
	display: inline-block;
}

.info .name {
	font-family: HelveticaNeue;
	font-size: 1.3em;
	color: #512209;
	line-height: 34px;
}

.info .time {
	font-family: HelveticaNeue;
	color: #72472B;
	line-height: 30px;
}

.info .place {
	font-family: HelveticaNeue;
	color: #72472B;
	line-height: 30px;
}

.info .desc {
	font-family: HelveticaNeue;
	color: #512209;
}

.event-details .details p {
	font-family: HelveticaNeue;
	font-size: 23px;
	color: #512209;
	line-height: 25px;
}

.event-box {
	min-height : 100px;
}

.event-box .info {
	min-height : 100px;
	float: left;
}

.event-box .link {
	width: 9%;
	float: right;
	min-height: 100px;
	line-height: 100px;
}

.about-box {
	min-height : 100px;
}

.about-box .info {
	min-height : 100px;
	float: left;
}

.about-box .link {
	width: 9%;
	float: right;
	min-height: 100px;
	line-height: 100px;
}

.generic-box .link a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.quotes .quote {
	text-align: center;
	color: #512209;
	font: 1.3em HelveticaNeue;
}

.quotes .author {
	text-align: center;
	color: #fff;
	font: 0.8em HelveticaNeue;
}

.quotes .quote-img{
	height: 15px;
}

.quotes .quote-img img{
	height: 15px;
}